.admin-panel-user-details-wrapper {
  &__content {
    max-width: 90% !important;
    border: 1px solid black;
    margin: auto;
    padding: 30px;
    .row {
      margin-bottom: 25px !important;
      .col {
        h4:first-child {
          font-weight: bold;
          margin-left: 10%;
        }
      }
    }
  }
  &__item {
    font-size: 1.2rem;
    display: inline-block;
    h4:last-child {
      margin-left: auto;
      margin-right: 10%;
    }
  }
  &__status {
    text-transform: capitalize;
  }
}

.breadcrumb-item {
  a {
    color: black !important;
    font-size: 1.5rem;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  color: black !important;
  font-size: 1.5rem;
}
