@import '../theme/color-palette.scss';

.admin-login-form-wrapper {
  width: 30%;
  max-width: 400px;
  display: block;
  &__logo {
    width: 130px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  &__form {
    padding: 20px;
    border: 1px solid $menu-item;
    border-radius: 5px;
  }
}

.auth-form-label {
  margin: 10px 0 !important;
  color: $menu-item !important;
  font-family: 'Montserrat Medium';
  font-size: 12px !important;
}

.auth-form-input {
  margin-bottom: 15px !important;
}

.auth-form-action {
  margin-top: 40px !important;
  margin-bottom: 10px !important;
  @media (max-width: 992px) {
    margin-bottom: 80px !important;
  }

  button {
    font-size: 1rem;
    padding: 6px 30px;
    color: $menu-item !important;
    background-color: $light-primary !important;
    border-color: $light-primary !important;
    font-family: 'Helvetica Neue Bold';
    &:hover {
      background-color: $primary !important;
      border-color: $primary !important;
      color: $light-gray !important;
    }
  }
}
