@import '../theme/color-palette.scss';

.admin-panel-users-wrapper {
  position: relative;
  height: 90vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 5px !important;
    background-color: #f7f8f8;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: $menu-item, $alpha: 0.7);
    border-radius: 4px !important;
  }
  @media (max-height: 767px) and (min-width: 1200px) {
    height: 90%;
  }
  img {
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
  }
  &__table-control {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: 10px;
    .form-group {
      margin-left: auto;
      margin-bottom: 0;
      width: 20%;
      display: flex;
      label {
        width: 50%;
      }
      select {
        width: 30%;
      }
    }
  }
}

.page-item.active .page-link {
  background-color: $primary !important;
  border-color: $primary !important;
  color: white !important;
}

.page-link {
  color: black !important;
}

.pagination {
  justify-content: center;
}

tr {
  td:first-child {
    text-transform: capitalize;
  }
  &:hover {
    transition: all 0.2s ease-in-out;
    background-color: #f7f7f7 !important;
  }
}
