.build-profile-question-wrapper {
  &__title {
    margin-top: 8%;
    div:nth-child(1) {
      img {
        width: 50px;
      }
    }
    div:nth-child(2) {
      margin-top: 20px;
      span {
        font-size: 1.5rem;
        font-family: 'Montserrat SemiBold';
      }
    }
  }
}
