@import '../theme/color-palette.scss';

.selected-task-wrapper {
  display: block !important;
  background-color: transparent;
  padding-top: 30px;
  &__header {
    display: flex;
    justify-content: flex-end;
    @media (max-width: 992px) {
      margin-top: 5px;
    }
    img {
      margin: 10px;
      cursor: pointer;
    }
    &__button {
      height: 20px !important;
      padding-top: 1px !important;
      padding-bottom: 1px !important;
      margin: 10px !important;
      font-size: 10px !important;
      font-weight: 600 !important;
      background-color: #fff !important;
      color: #94a1c1 !important;
      border-radius: 3px !important;
      &--ar {
        font-family: 'Cairo Bold' !important;
      }
      &--en {
        font-family: 'Montserrat Bold' !important;
      }
    }
    .btn-outline-dark {
      border-color: #343a40;
    }
    .btn-outline-dark:disabled {
      border-color: #c7cedf;
    }
    .btn-outline-dark.disabled,
    .btn-outline-dark:disabled {
      color: #c7cedf;
    }
  }
  &__task-title {
    color: $primary;
    font-size: 18px;
    margin-top: 37px;
    &--ar {
      font-family: 'Cairo Bold';
      text-align: right;
      margin-right: 30px;
    }
    &--en {
      font-family: 'Montserrat Bold';
      text-align: left;
      margin-left: 30px;
    }
    @media (max-width: 992px) {
      font-size: 1.2rem;
    }
  }
  &__tag {
    border-radius: 3px;
    padding: 6px 10px;
    background-color: #f0ebf4;
    color: #94a1c1;
    width: fit-content;
    font-size: 12px;
    &--ar {
      font-family: 'Cairo SemiBold';
      margin: 15px 30px 30px 0;
    }
    &--en {
      font-family: 'Montserrat SemiBold';
      margin: 15px 0 30px 30px;
    }
    @media (max-width: 992px) {
      padding: 5px;
    }
  }
  &__cost,
  &__due-date {
    margin: 15px 0 15px;
    display: flex;
    justify-content: flex-start !important;
    width: 50%;
    &--ar {
      margin-right: 25px;
    }
    &--en {
      margin-left: 25px;
    }
    &__img {
      display: block !important;
      &__img-tag {
        width: 30px;
        margin-top: 8px;
        &--ar {
          margin-left: 15px;
        }
        &--en {
          margin-right: 15px;
        }
      }
    }
    &__text {
      display: block !important;
      &__title {
        color: $menu-item;
        font-size: 12px;
        margin-bottom: 5px;
        &--ar {
          font-family: 'Cairo Bold';
        }
        &--en {
          font-family: 'Montserrat Medium';
        }
        @media (max-width: 992px) {
          font-size: 1rem;
        }
      }
      &__date {
        color: black;
        font-size: 14px;
        &--ar {
          font-family: 'Cairo SemiBold';
        }
        &--en {
          font-family: 'Montserrat SemiBold';
        }
        @media (max-width: 992px) {
          font-size: 1rem;
        }
      }
    }
  }
}
