@import '../theme/color-palette.scss';

.selected-task-wrapper {
  display: block !important;
  background-color: transparent;
  div {
    display: flex;
    justify-content: flex-end;
    @media (max-width: 992px) {
      margin-top: 5px;
    }
    img {
      margin: 10px;
      cursor: pointer;
    }
    button {
      height: 20px !important;
      padding-top: 1px;
      padding-bottom: 1px;
      margin: 10px;
      font-size: 10px;
      font-weight: 600 !important;
      background-color: #fff;
      color: #94a1c1;
      border-radius: 3px !important;
    }
    .btn-outline-dark {
      border-color: #343a40;
    }
    .btn-outline-dark:disabled {
      border-color: #c7cedf;
    }
    .btn-outline-dark.disabled,
    .btn-outline-dark:disabled {
      color: #c7cedf;
    }
  }
  h3 {
    color: $primary;
    font-family: 'Montserrat Bold';
    font-size: 18px;
    margin-top: 37px;
    margin-left: 30px;
    @media (max-width: 992px) {
      font-size: 1.2rem;
    }
  }
  &__tag {
    padding: 10px;
    background-color: #f0ebf4;
    color: #94a1c1;
    width: fit-content;
    font-family: 'Montserrat SemiBold';
    margin: 25px 0 25px 30px;
    font-size: 12px;
    @media (max-width: 992px) {
      padding: 5px;
    }
  }
  &__cost,
  &__due-date {
    margin: 40px 0 25px 0;
    display: flex;
    width: 70%;
    div:nth-child(1) {
      display: flex;
      justify-content: flex-start;
      width: 20%;
      margin-left: 20px;
      img {
        width: 25px;
        height: auto;
      }
    }
    div:nth-child(2) {
      width: 70%;
      display: block;
      p {
        @media (max-width: 992px) {
          font-size: 1rem;
        }
        &:nth-child(1) {
          color: $menu-item;
          font-family: 'Montserrat Medium';
          font-size: 12px;
          margin-bottom: 5px;
        }
        &:nth-child(2) {
          color: black;
          font-family: 'Montserrat SemiBold';
          font-size: 14px;
        }
      }
    }
  }
  &__due-date {
    div:nth-child(1) {
      img {
        width: 25px;
        height: auto;
      }
    }
  }
}
