@import '../theme/color-palette.scss';

$top-value: 20%;

.sortable-item-wrapper {
  list-style: none;
  .input-group {
    cursor: pointer;
    border: 2px solid transparent;
    &__text {
      padding: 10px 20px;
      width: 92%;
      display: block;
      text-align: left;
      color: #3c454c;
      position: relative;
      z-index: 2;
      overflow: hidden;
      margin-bottom: 0;
      margin-left: auto;
      font-size: 14px;
      font-weight: 500;
      &--ar {
        font-family: 'Cairo Regular';
      }
      &--en {
        font-family: 'Montserrat Regular';
      }
      @media (max-width: 992px) {
        width: 85%;
        padding-right: 20px !important;
        font-size: 0.95rem;
      }
      &__task-finished {
        text-decoration: line-through;
      }
    }
    label {
      &:after {
        pointer-events: all;
        width: 24px;
        height: 24px;
        content: '';
        border: 2px solid #d1d7dc;
        background-color: #fff;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        left: 10px;
        top: $top-value;
        cursor: pointer;
        transition: background-color 0.3s ease;
        @media (max-width: 992px) {
          width: 28px;
          height: 28px;
        }
      }
    }
    &__over-due {
      &:after {
        border: 1px solid red !important;
      }
    }
    input:checked ~ label {
      &:after {
        background-color: #e9ebf2;
        border-color: #e9ebf2;
        background-image: url('../../images/check-mark.svg');
        background-size: 50% 50%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    input {
      width: 24px;
      height: 24px;
      order: 1;
      z-index: 2;
      position: absolute;
      left: 0;
      top: $top-value;
      visibility: hidden;
      @media (max-width: 992px) {
        width: 28px;
        height: 28px;
      }
    }
    span {
      position: absolute;
      left: -5%;
      top: 30%;
      color: $menu-item;
    }
    &__active {
      border: 1px solid #ae95c4;
      background-color: #fdfaff;
    }
    &__stripe-text {
      text-decoration: line-through;
      color: $menu-item !important;
    }
  }
}

.progress {
  @media (max-width: 992px) {
    height: 8px !important;
  }
}

hr {
  display: none;
  @media (max-width: 992px) {
    display: block;
  }
}
