.task-details-wrapper {
  &__title {
    font-size: 1.2rem !important;
    &--ar {
      font-family: 'Cairo Bold' !important;
    }
    &--en {
      font-family: 'Montserrat Bold' !important;
    }
  }
}
