@import '../theme/color-palette.scss';

.what-is-your-name-wrapper {
  &__title {
    margin-top: 8%;
    &__hero {
      width: 50px;
    }
    &__text {
      margin-top: 20px;
      font-size: 1.5rem;
      &--ar {
        font-family: 'Cairo SemiBold';
      }
      &--en {
        font-family: 'Montserrat SemiBold';
      }
    }
  }
  &__form {
    width: 50% !important;
    margin-left: 25% !important;
    @media (max-width: 992px) {
      width: 100% !important;
      margin-left: 0 !important;
    }
    &__label {
      &--ar {
        font-family: 'Cairo SemiBold';
      }
      &--en {
        font-family: 'Montserrat Medium' !important;
      }
    }
    &__control {
      &--ar {
        font-family: 'Cairo SemiBold';
      }
      &--en {
        font-family: 'Helvetica Neue Medium' !important;
      }
    }

    &__form-action {
      margin-top: 60px !important;
      &--ar {
        font-family: 'Cairo Bold';
      }
      &--en {
        font-family: 'Helvetica Neue Bold';
      }
      @media (max-width: 992px) {
        margin-bottom: 80px !important;
      }
      button {
        float: right;
        color: black !important;
        border-color: $yellow-background !important;
        background-color: $yellow-background !important;
        padding: 10px 30px;
        font-size: 1rem;
        &:hover {
          background-color: $yellow-background !important;
          border-color: $yellow-background;
        }
      }
    }
  }
}
