@import '../theme/color-palette.scss';

.when-special-day-wrapper {
  &__title {
    margin-top: 8%;
    &__hero {
      width: 50px;
    }
    &__text {
      margin-top: 20px;
    }
    &__couples {
      font-size: 1.3rem;
      &--ar {
        font-family: 'Cairo Regular';
      }
      &--en {
        font-family: 'Montserrat Regular';
      }
    }
    &__date {
      font-size: 1.5rem;
      &--ar {
        font-family: 'Cairo SemiBold';
      }
      &--en {
        font-family: 'Montserrat SemiBold';
      }
    }
  }
  &__form {
    width: 50% !important;
    margin-left: 25% !important;
    @media (max-width: 992px) {
      width: 100% !important;
      margin-left: 0 !important;
    }
    &__form-action {
      margin-top: 60px !important;
      &--ar {
        font-family: 'Cairo Bold';
      }
      &--en {
        font-family: 'Helvetica Neue Bold';
      }
      @media (max-width: 992px) {
        margin-top: 40px !important;
        margin-bottom: 80px !important;
      }

      button {
        float: right;
        color: white !important;
        border-color: $dark-violet !important;
        background-color: $dark-violet !important;
        padding: 10px 30px;
        font-size: 1rem;
        img {
          margin-left: 5px;
          margin-bottom: 3px;
        }
        &:hover {
          background-color: $dark-violet !important;
          border-color: $dark-violet;
        }
      }
    }
  }
}

.form-check {
  label {
    margin-left: 8px;
    margin-top: 15px;
    color: #94a1c1;
    cursor: pointer;
    @media (max-width: 992px) {
      width: 100% !important;
      margin-left: 15px;
    }
    &:after {
      pointer-events: all;
      width: 20px;
      height: 20px;
      content: '';
      border: 2px solid #d1d7dc;
      background-color: #fff;
      border-radius: 20%;
      z-index: 2;
      position: absolute;
      left: 0;
      cursor: pointer;
      transition: background-color 0.3s ease;
      @media (max-width: 992px) {
        width: 28px;
        height: 28px;
      }
    }
  }
  &__label {
    &--ar {
      font-family: 'Cairo Regular';
    }
    &--en {
      font-family: 'Montserrat Regular';
    }
  }
  &__date-label {
    &--ar {
      font-family: 'Cairo SemiBold';
    }
    &--en {
      font-family: 'Montserrat Medium';
    }
  }
  input:checked ~ label {
    &:after {
      background-color: #e9ebf2;
      border-color: #e9ebf2;
      background-image: url('../../images/check-mark.svg');
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  input {
    width: 20px;
    height: 20px;
    order: 1;
    visibility: hidden;
    @media (max-width: 992px) {
      width: 28px;
      height: 28px;
    }
  }
}

.bootstrap-border {
  &--ar {
    font-family: 'Cairo Regular';
  }
  &--en {
    font-family: 'Helvetica Neue Medium';
  }
}
