@import '../theme/color-palette.scss';

$header-margin-left: 60px;
$header-margin-right: 20px;

.header-wrapper {
  padding-bottom: 0 !important;
  box-shadow: 0 4px 2px -2px $light-gray;
  max-height: 56px !important;
  z-index: 15;
  @media (max-width: 992px) {
    max-height: max-content !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &__flag {
    display: none;
    @media (max-width: 992px) {
      width: 30px;
      display: block;
    }
  }
  &__logo {
    width: 100px;
    object-fit: contain;
    margin-left: $header-margin-left;
    margin-left: 120px;
    @media (max-width: 992px) {
      margin-left: 16px;
    }
  }
  &__left-buttons {
    font-family: 'Montserrat SemiBold';
    margin-bottom: 8px !important;

    .nav-link:nth-child(1) {
      button {
        color: $dark-text;
        background-color: $yellow-background;
        border-color: $yellow-background;
        font-size: 13px;
        padding-right: 15px;
        padding-left: 15px;
        &:hover,
        &:focus,
        &:active {
          background-color: $yellow-background !important;
          border-color: $yellow-background !important;
          outline: none !important;
          box-shadow: none !important;
          color: $dark-text;
        }
        @media (max-width: 992px) {
          background-color: transparent !important;
          border-color: transparent !important;
          padding-left: 28px !important;
          &:hover,
          &:focus,
          &:active {
            background-color: transparent !important;
            border-color: transparent !important;
            outline: none !important;
            box-shadow: none !important;
            color: $dark-text;
          }
        }
      }
    }
    .nav-link:nth-child(2) {
      @media (max-width: 992px) {
        padding-left: 15px !important;
      }
      button {
        font-size: 13px;
        padding-right: 15px;
        padding-left: 15px;
        color: $dark-text;
        &:hover,
        &:focus,
        &:active {
          background-color: transparent !important;
          border-color: transparent !important;
          outline: none !important;
          box-shadow: none !important;
          color: $dark-text;
        }
      }
    }
    .nav-link:nth-child(3) {
      img {
        width: 30px;
      }
    }
  }
  &__nav {
    margin-left: $header-margin-left;
    @media (max-width: 992px) {
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__link {
    font-family: 'Montserrat SemiBold';
    color: black !important;
    padding: 14px !important;
    font-size: 13px;
    font-weight: 400;
    margin-right: 20px;
    @media (max-width: 992px) {
      padding-left: 30px !important;
    }
    &--active {
      padding-left: 30px !important;
      color: $menu-item-active !important;
    }
  }
}

.navbar-toggler {
  margin-right: 16px !important;
}
.navbar-collapse {
  z-index: 1000;
}
