.fade.toast.show {
  //   background: green !important;
  border-color: #4dccbb !important;
  top: 70px !important;
  right: 35px !important;
  z-index: 1600 !important;
  @media (max-width: 992px) {
    top: 30px !important;
    right: 5px !important;
  }
  .toast-header {
    strong {
      margin-right: 60px !important;
      @media (max-width: 992px) {
        margin-right: 0 !important;
      }
    }
  }
}
