@import '../theme/color-palette.scss';

$header-height: 56px;

.build-profile-wrapper {
  height: calc(100vh - #{$header-height} - 5vh);
  padding-top: 5vh;
  .row {
    width: 70%;
    margin-left: 15%;
    @media (max-width: 992px) {
      width: 100%;
      margin-left: 0;
    }
  }
  &__progress {
    height: 50px;
    &__title {
      font-size: 18px;
      &--ar {
        font-family: 'Cairo SemiBold';
      }
      &--en {
        font-family: 'Montserrat SemiBold';
      }
    }
    &__details {
      float: right !important;
      margin-top: 25px;
      &--ar {
        font-family: 'Cairo SemiBold';
      }
      &--en {
        font-family: 'Montserrat Medium';
      }
      color: $menu-item;
    }
  }
  &__back-button {
    &--show {
      font-size: 1rem !important;
      font-weight: 500;
      padding: 10px 30px !important;
      color: #94a1c1 !important;
      border-color: transparent !important;
      position: absolute;
      bottom: 5%;
      left: 5%;
      &:hover,
      &:focus,
      &:active {
        background-color: transparent !important;
        outline: none !important;
        box-shadow: none !important;
      }
    }
    &--hide {
      display: none !important;
    }
    &--ar {
      font-family: 'Cairo Bold';
    }
    &--en {
      font-family: 'Helvetica Neue Bold';
    }
  }
}

.progress {
  height: 5px !important;
}
.progress-bar {
  background-color: $primary !important;
}
