@import '../theme/color-palette.scss';

$header-height: 56px;

.home-wrapper {
  height: calc(100vh - #{$header-height} - 30px);
  max-width: 100% !important;
  padding-top: 30px;
  @media (max-width: 992px) {
    padding-top: 10px;
  }
  &__content {
    height: 100%;
    &__menu {
      @media (max-width: 992px) {
        display: none;
      }
      ul {
        list-style-type: none;
      }
      li {
        cursor: pointer;
        margin-bottom: 10px;
        color: $menu-item;
      }
      li.active {
        color: $menu-item-active;
        font-family: 'Montserrat SemiBold';
        font-weight: bold;
      }
    }
    &__tasks {
      @media (max-width: 992px) {
        padding: 0 20px !important;
      }
      .col {
        margin: auto;
      }
      .col h4 {
        color: $dark-text;
        font-family: 'Montserrat Medium';
        @media (max-width: 992px) {
          font-size: 1rem;
        }
      }
      button {
        font-family: 'Montserrat SemiBold';
        font-size: 14px;
        font-weight: bold;
        color: $dark-text;
        background-color: $yellow-background;
        border-color: $yellow-background;
        padding: 8px 24px;
        &:hover,
        &:focus,
        &:active {
          background-color: $yellow-background !important;
          border-color: $yellow-background !important;
          color: $dark-text !important;
          outline: none;
          box-shadow: none;
        }
      }
      h6 {
        color: $menu-item;
      }
      &__details {
        margin-top: 3vh;
        height: 70vh;
        border-left: 1px solid rgba($color: $menu-item, $alpha: 0.5);
        padding-left: 5%;
        overflow-y: auto;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
          width: 5px !important;
        }
        &::-webkit-scrollbar-thumb {
          background-color: rgba($color: $menu-item, $alpha: 0.7);
          border-radius: 4px !important;
        }
        h3 {
          color: $primary;
          font-family: 'Montserrat Bold';
          @media (max-width: 992px) {
            font-size: 1.1rem;
          }
        }
        @media (max-width: 992px) {
          height: 50vh;
        }
        ul {
          @media (max-width: 992px) {
            padding-left: 20px !important;
          }
        }
      }
    }
    &__operations {
      background-color: #f1f3f7;
      @media (max-width: 992px) {
        display: none;
      }
    }
    &__placeholder {
      display: flex !important;
      justify-content: center;
      align-items: center;
      height: 100%;
      h2 {
        color: $menu-item;
      }
    }
  }
}

hr {
  margin-top: 0 !important;
}

.breadcrumb-wrapper {
  display: none !important;
  @media (max-width: 992px) {
    display: flex !important;
    nav {
      width: 65%;
    }
    p {
      width: 35%;
      padding: 12px 0;
      margin-bottom: 16px;
      color: #111c2d;
      font-family: 'Montserrat SemiBold';
    }
  }
}

.breadcrumb {
  background-color: transparent !important;
}

.breadcrumb-item {
  color: $menu-item !important;
  font-family: 'Montserrat Medium';
  a {
    color: $menu-item !important;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>' !important;
  color: $menu-item !important;
}
