@import '../theme/color-palette.scss';

.landing-wrapper {
  height: calc(100vh - 56px);
  max-width: 80% !important;
  &__content {
    height: 100%;
  }
  &__text {
    display: block;
    margin: auto;
    &__hero {
      &--ar {
        font-family: 'Cairo SemiBold';
      }
      &--en {
        font-family: 'Montserrat SemiBold';
      }
      font-size: 43px;
      line-height: 60px;
    }
    &__slogan {
      &--ar {
        font-family: 'Cairo Regular';
      }
      &--en {
        font-family: 'Montserrat Regular';
      }
    }
  }
  &__sign-up-button {
    color: black !important;
    font-weight: bolder !important;
    border-color: $dark-violet !important;
    padding: 14px 37px !important;
    &--ar {
      font-family: 'Cairo SemiBold' !important;
    }
    &--en {
      font-family: 'Montserrat SemiBold' !important;
    }
    &:hover {
      background-color: $dark-violet !important;
      border-color: $dark-violet !important;
      color: white !important;
    }
  }
  &__hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
    @media (max-width: 992px) {
      display: none !important;
    }
  }
}
