$primary: #ae95c4;
$light-primary: #a4a2bb;
$lighter-primary: #e6deec;
$light-text: #f7f1fa;
$dark-text: #111c2d;
$dark-violet: #77629c;

$yellow-background: #fdda83;
$black-background: #111c2d;
$light-gray: #eeeeee;

$menu-item: #94a1c1;
$menu-item-active: #ac93c1;
